{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
    Contact list
{% endblock %}
{% block body %}
    <title>Contact list</title>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Contact list</h4>
                        </div>
                    </div>
                </div>

                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                            <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                {% comment %} <div class="row mb-2">
                                    <div class="col-sm-5">
                                        <a href="{% url 'dashboard:blog_add' %}" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Add Blog</a>
                                    </div>
                                </div> {% endcomment %}
                                <div class="tab-content">
                                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>message</th>
                                                <th>Responded</th>
                                                <th>Response Mode</th>
                                                <th style="width: 120px;">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for item in contacts %}
                                            <div id="delete-modal-{{ item.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modalLabel-{{ item.id }}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content modal-filled bg-primary">
                                                        <div class="modal-header bg-info">
                                                            <h4 class="modal-title" id="delete-modalLabel-{{ item.id }}">Confirm Delete?</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                                                        </div>
                                                        <div class="modal-body modal-filled bg-info">
                                                            Are you sure you want to delete?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                            <form method="post" action="{% url 'dashboard:contact_delete' item.id %}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-primary">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <tr>
                                                    
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.email }}</td>
                                                    <td>{{ item.phone_number }}</td>
                                                    <td> {{item.message}}</td>
                                                    <td>responded remaining</td>
                                                    <td>mode remaining</td>

                                                    <td>
                                                        <a href="{% url 'dashboard:send_manual_response' 'contact' item.id %}" class="btn btn-primary">Respond</a>

                                                        <a href="#" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                        <a href="#" class="action-icon" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ item.id }}"> <i class="mdi mdi-delete"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
