{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}{% if instance %}Edit SEO{% else %}Add SEO{% endif %}{% endblock %}
{% block body %}
    <title>{% if instance %}Edit SEO{% else %}Add SEO{% endif %}</title>

    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">{% if instance %}Edit SEO Metadata{% else %}Add SEO Metadata{% endif %}</h4>
                        </div>
                    </div>
                </div>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    {% include 'dashboard/_seo_accordion.html' with seo_form=form %}

                                    <div class="text-end">
                                        <a href="{% url 'dashboard:seo_metadata_list' %}" class="btn btn-secondary"><i class="mdi mdi-arrow-left me-1"></i>Back to List</a>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="mdi mdi-content-save me-1"></i>{% if instance %}Update SEO{% else %}Add SEO{% endif %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}